name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ secrets.AWS_REGION }}

    - uses: actions/checkout@v5

    - name: Use Node.js 24.x
      uses: actions/setup-node@v6
      with:
        node-version-file: './instapundit-filter/.nvmrc'
        cache-dependency-path: './instapundit-filter/package-lock.json'

    - name: Install Dependencies
      working-directory: ./instapundit-filter
      run: npm ci

    - name: Run Linter
      working-directory: ./instapundit-filter
      run: npm run lint

    - name: Run Tests
      working-directory: ./instapundit-filter
      run: npm run test

