name: Deploy

on:
  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup AWS SAM
      uses: aws-actions/setup-sam@v2
      with:
        use-installer: true
        token: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Build with SAM
      run: sam build --use-container

    - name: Deploy with SAM
      run: |
        sam deploy --no-confirm-changeset \
          --no-fail-on-empty-changeset \
          --stack-name instapundit-filter \
          --capabilities CAPABILITY_IAM \
          --resolve-s3 \
          --s3-prefix instapundit-filter \
          --region ${{ secrets.AWS_REGION }}

